<script type="module" src="/assets/hello/index.js"></script>

<h1 class="title">{{ title }}</h1>
<p class="subtitle">Find me in app/views/hello/index.html.erb</p>
<p class="subtitle"><strong>{{ message }}</strong></p>
